.btn {
  padding : 8px 12px;
  border-radius: 3px;
  border-radius: 0;
}

.btn-primary {
  background-color: aquamarine;
  color: white;
}

.btn-secondary {
  background-color: gray;
  columns: black;
}